body {
    background-color: #294465;
    height: auto;
}

a {
    text-decoration: none;
}


.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-rows: 80px 1fr ;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    grid-template-areas:
    "h h"
    "s c";

}





